$browser-context: 14; // Default

$primaryColor: #4fcfc0; // Blue
$secondaryColor: #ff9d3e; // Orange
$tertiaryColor: #e23f3f; // Red
$quaternaryColor: #47bf88; // Green

$grey1: #ececec;
$grey2: #dbdbdb;
$grey3: #cdcdcd;